$primary_white: #fff;
$primary_black: #121212;
$primary_light_gray: #dedede;
$primary_dark_gray: #575757;

$secondary_white: #fcfcfc;
$secondary_black: #1a1818;
$secondary_gray: #9c9c9c;

$accent_red: #9b4b4b;
$accent_gold: #ab8956;
