@import '../../scss/variables';

.blockMain {
  width: 100%;
  background-color: transparent !important;
  box-shadow: none !important;
  color: $primary_white !important;
  margin: 0 !important;

  .blockUp {
    min-height: 40px !important;
    align-items: center;
    text-transform: uppercase;
  }

  .blockDown {
    margin: 12px 0 !important;
  }

  div {
    font-family: 'Cormorant SC', serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .blockMain div {
    font-size: 0.8rem;
  }
}
